.template4Advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;

    &__img {
        width: 150px;
        height: 150px;
    }

    &__description {
        margin-top: 38px;
    }

    @media (min-width: 680px) and (max-width: 860px) {
        &__img {
            margin-top: 30px;
            width: 150px;
        }

        &__description {
            margin-top: 20px;
        }
    }

    @media screen and (min-width:320px) and (max-width:680px) {
        &__img {
            margin-top: 30px;
            width: 150px;
        }

        &__description {
            margin-top: 20px;
        }
    }
}