$bg_color:#F4F4F4;
.sectionFooter{
    background: $bg_color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        margin-top: 50px;
        margin-bottom: 115px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__telephone{
        text-decoration: none;
        color: black;
    }
    &__email{
        text-decoration: none;
        color: black;
    }
    &__links{
        display: flex;
        justify-content: space-between;
    }
    &__link{
        width: 50px;
        height: 50px;
        margin-right: 20px;
        text-decoration: none;
        &:last-child{
            margin: 0;
        }
        &_wa{
            background: url(./imgs/WhatsApp.svg) center no-repeat;
            background-size: 100%;
        }
        &_wk{
            background: url(./imgs/VK.svg) center no-repeat;
            background-size: 100%;
        }
        &_tg{
            background: url(./imgs/Telegram.svg) center no-repeat;
            background-size: 100%;
        }
    }
      @media (min-width: 768px) and (max-width: 1023px) {
        &__container{
            height: 200px;
        }
        &__link{
            width:35px;
            height:35px;
        }
      }
      @media (min-width: 560px) and (max-width: 767px) {
        &__container{
            height: 180px;
        }
        &__link{
            width:30px;
            height:30px;
            margin-right: 10px;
        }
      }
      @media (min-width: 320px) and (max-width: 559px) {
        &__container{
            height: 180px;
        }
        &__link{
            width:30px;
            height:30px;
            margin-right: 10px;
        }
      }
}