.sectionHeader{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 50px auto;

  &__logo{
    max-width: 190px;
  }
  .headerActions{
    display: flex;

    &__item{
      display: block;
      margin-left: 10px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}