.template2{
    h1{
      font-size: 60px;
      font-weight: 400;
    }
    h2{
      font-size: 36px;
      font-weight: 400;
    }
    h3{
      font-size: 24px;
      font-weight: 400;
    }
    h4{
      font-size: 20px;
      font-weight: 400;
    }
    p{
      font-size: 16px;
      font-weight: 400;
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
      h1{
        font-size: 60px;
        font-weight: 400;
      }
      h2{
        font-size: 36px;
        font-weight: 400;
      }
      h3{
        font-size: 24px;
        font-weight: 400;
      }
      h4{
        font-size: 20px;
        font-weight: 400;
      }
      p{
        font-size: 16px;
        font-weight: 400;
      }
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      h1{
        font-size: 55px;
        font-weight: 400;
      }
      h2{
        font-size: 32px;
        font-weight: 400;
      }
      h3{
        font-size: 22px;
        font-weight: 400;
      }
      h4{
        font-size: 18px;
        font-weight: 400;
      }
      p{
        font-size: 16px;
        font-weight: 400;
      }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      h1{
        font-size: 50px;
        font-weight: 400;
      }
      h2{
        font-size: 24px;
        font-weight: 400;
      }
      h3{
        font-size: 22px;
        font-weight: 400;
      }
      h4{
        font-size: 16px;
        font-weight: 400;
      }
      p{
        font-size: 14px;
        font-weight: 400;
      }
    }
    @media (min-width: 560px) and (max-width: 767px) {
      h1{
        font-size: 40px;
        font-weight: 400;
      }
      h2{
        font-size: 20px;
        font-weight: 400;
      }
      h3{
        font-size: 18px;
        font-weight: 400;
      }
      h4{
        font-size: 14px;
        font-weight: 400;
      }
      p{
        font-size: 12px;
        font-weight: 400;
      }
    }
    @media (min-width: 320px) and (max-width: 559px) {
      h1{
        font-size: 32px;
        font-weight: 400;
      }
      h2{
        font-size: 20px;
        font-weight: 400;
      }
      h3{
        font-size: 18px;
        font-weight: 400;
      }
      h4{
        font-size: 14px;
        font-weight: 400;
      }
      p{
        font-size: 12px;
        font-weight: 400;
      }
    }
  }