.sectionAboutUs{
  margin: 100px auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  .leftBlock{
    align-self: center;
    max-width: 410px;
    &__description{
      margin-top: 15px;
    }
  }
  .rightBlock{

  }
  @media (min-width: 1440px) and (max-width: 1560px){
    max-width: 1340px;
  }
  @media (min-width: 1280px) and (max-width: 1439px) {
    max-width: 1180px;
    margin: 50px auto;
    .leftBlock {
      align-self: center;
      max-width: 350px;
    }
    .rightBlock{
      width:670px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px) {
    max-width: 940px;
    margin: 50px auto;
    .leftBlock {
      align-self: center;
      max-width: 350px;
    }
    .rightBlock{
      width:540px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: 740px;
    margin: 50px auto;
    .leftBlock {
      align-self: center;
      max-width: 275px;
    }
    .rightBlock{
      width:365px;
    }
  }
  @media (min-width: 560px) and (max-width: 767px) {
    max-width: 525px;
    margin: 50px auto;
    .leftBlock {
      align-self: center;
      max-width: 210px;
    }
    .rightBlock{
      width:300px;
    }
  }
  @media (min-width: 320px) and (max-width: 559px) {
    margin: 40px auto;
    max-width: 280px;
    display: block;
    .leftBlock {
      align-self: center;
      max-width: 280px;
    }
    .rightBlock{
      margin-top: 20px;
      width: 280px;
    }
  }
}