.template4SectionExampleModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./imgs/background.svg) center no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 999;

    &_visible {
        opacity: 1;
        pointer-events: auto;
        transition: 0.5s;
    }

    &__content {
        width: 860px;
        height: 560px;
    }

    &__close {
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(./imgs/close.svg) center no-repeat;
        background-size: contain;
        top: 20px;
        right: 20px;
        border: none;
        cursor: pointer;
    }

    @media (min-width: 680px) and (max-width: 860px) {
        .template4Example {
            &__item {
                object-fit: fill;
            }
        }

        &__content {
            width: 100%;
            height: 50vh;
        }

        &__close {
            width: 23px;
            height: 23px;
        }
    }

    @media screen and (min-width:320px) and (max-width:680px) {

        .template4Example {
            &__item {
                object-fit: fill;
            }
        }

        &__content {
            width: 100%;
            height: 25vh;
        }

        &__close {
            width: 23px;
            height: 23px;
        }
    }
}