.sectionMain{
  background: url("./imgs/Rectangle 13.svg") center no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    margin-top: 100px;
  }
  &__subtitle{
    margin-top: 30px;
  }
  &__btn{
    margin-top: 100px;
    padding: 15px 10px;
    background: #FFECC8;
    margin-bottom: 100px;
    cursor: pointer;
  }
  &__btnDescription{
    text-transform: uppercase;
  }
  @media (min-width: 320px) and (max-width: 560px){
    &__title{
      text-align: center;
      max-width: 250px;
    }
    &__subtitle{
      margin-top: 20px;
      text-align: center;
      max-width: 250px;
    }
  }
}